.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 0 10px;
  color: #6c757d;
  flex: 1;
  overflow: auto;
}

.shop h3 {
  text-align: center;
  padding: 0;
  margin: 0;
}
